<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload data</title>
        <style>
            @import url('{{ STATIC_URL }}style/bootstrap.min.css');
            @import url('{{ STATIC_URL }}style/base_uploader.css');
            </style>
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url upload %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            1. Choose file to upload to database:
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <br>
            <br>
            2. Add up to 4 meta data keys that will be queriable:
            <br>
            <input type="text" name="MetaData1">
            <input type="text" name="MetaData2">
            <input type="text" name="MetaData3">
            <input type="text" name="MetaData4">
            <br>
            <br>
            3. Add meta data values:
            <br>
            <input type="text" name="MetaDataVal1">
            <input type="text" name="MetaDataVal2">
            <input type="text" name="MetaDataVal3">
            <input type="text" name="MetaDataVal4">
            <br>
            <br>
            4. Add description - this will be displayed in Data Viewer:
            <br>
            <input type="textarea" name="description" size=60
            maxlength=1000 style="height:100px;width:500px;font-size:14pt;">
            <br>
            <br>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html>
