<!DOCTYPE html>
<meta charset="utf-8">

<head>
	<title>S3 POST Form</title> 
	<style>
		
		@import url("{{ STATIC_URL }}style/base_uploader.css");
		
	</style>
</head>

  <body>

    <script src="../js/jquery.js" type="text/javascript"></script>
      
    <h1> Input new data</h1>
      
    <form action="send2aws.cgi" id="myForm">

	  <br>
	  1. Choose file to upload to S3:
	  <input type="file" name="file"> 
	  <br> 
	  <br>
	  2. Add up to 4 meta data keys that will be queriable:
	  <br>
	  <input type="text" name="MetaData1">
	  <input type="text" name="MetaData2">
	  <input type="text" name="MetaData3">
	  <input type="text" name="MetaData4">
	  <br>
	  <br>
	  3. Add meta data values:
	  <br>
	  <input type="text" name="MetaDataVal1">
	  <input type="text" name="MetaDataVal2">
	  <input type="text" name="MetaDataVal3">
	  <input type="text" name="MetaDataVal4">
	  <br>
	  <br>
	  4. Add description - this will be displayed in Data Viewer:
	  <br>
	  <input type="textarea" name="description" size=60 maxlength = 225 style="height:50px;font-size:14pt;">
	  <br>
	  <br>
	  <input type="submit" value="Upload to S3">

    </form>

    <script>
        /*
        var values = {};
		$('#myForm').submit(function() {
			console.log('hi');
			$.each($('#myForm').serializeArray(), function(i, field) {
			values[field.name] = field.value;
			});
			console.log(values);
		});
		*/

		
        /*
		$.ajax({
		url: '/json.html',
		type: 'POST',
		data: values,
		dataType: "json",
		success: function(response) {
			console.log('success');
			}
		});*/
		
		//$.post('send2aws.py', values);

		//console.log(values);
        
    </script>
  
  </body>
</html>

