<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
    <style>

        @import url("{{ STATIC_URL }}style/viewer.css");

        </style>
    </head><body>

        <label><input type="checkbox"> stimulus </label>

        <script src="{{ STATIC_URL }}js/d3.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>

        <h1 align="center"> Neuron Data Viewer </h1>

        <ul class="listArea"><b>Data selections</b>
            {% for neuron in neuron_list %}
                <li> {{ neuron.neuron_name }}</li>
            {% endfor %}
            </ul>

        <script>
            var neuronList = {{ neuron_list }},
                neuronData = {{ neuron_data }};
        </script>

        <script src="{{ STATIC_URL }}js/neuronView.js"></script>

        <h1 align="center"> _______ </h1>


        <h2 align="center">meta data</h2>
        <ul class="metaData"></ul>


        <h1 align="center"> _______ </h1>
        <p> This will display some simple instructions.  For
instance, try zooming in by selecting a section of the smaller trace or
toggle the stimulus current with the checkbox above.  Change the data to
 be plotted by clicking on one of the data selections.  This will also
update the meta data.</p>
        <p> The program is a work in progress, certain aspects of
the data viewer are not complete.  In particular, the current does not
zoom properly and the meta data does not show up at the start.
Additionally, the formatting isn't perfect. Sometimes a refresh is
necessary to get the elements back in order.</p>

</body>
</html>
